#define PLATFORMIO 60101
#define STM32F4
#define STM32F401xE
#define STM32F40_41xxx
#define STM32F4xx
#define ARDUINO 10808
#define ARDUINO_ARCH_STM32
#define ARDUINO_NUCLEO_F401RE
#define BOARD_NAME "NUCLEO_F401RE"
#define HAL_UART_MODULE_ENABLED
#define USE_FULL_LL_DRIVER
#define VARIANT_H "variant_NUCLEO_F401RE.h"
